body{
    width: 100%;
    height: 100%;
    background-color: rgb(157, 236, 210);
}
div.student_message{
    width: 25%;
    height: 24%;
    background-color: bisque;
    position: absolute;
    top: 0;
    left: 0;
    border-radius:6%;
}
div.student_photo{
    width: 30%;
    height: 70%;
    position: absolute;
    top: 4px;
    left: 12px;
    border-radius: 10%;
    background-color:beige;
}
div.student_message_text{
    width: 50%;
    height: 80%;
    position: relative;
    top:0%;
    left: 45%;
   
}
.student_text{
    position: relative;
    left:10%;
    top:14%;
    font-size: large;
    float:left;
}
.action{
    position:absolute;
    top:25%;
    left: 5px;
    background-color:rgb(237, 167, 192);
    width: 25%;
    height: 75%;
    border-radius: 2%;
    border-width: 1px;
    border-color: rgb(133, 50, 114);
    border-style: solid;
}
.schedule{
    background-color: rgb(157, 247, 232);
    position: absolute;
    top: 5%;
    left:30%;
    width:60%;
    height: 75%;
    border-radius: 2%;
    border: #19354f solid 1px;
}

table {
    width: 98%;
    height: 95%;
    position:absolute;
    margin:10px;
    border-collapse: collapse;
    border-radius: 5%;
  }
  th, td {
    padding: 10px;
    border: 1px solid #19354f;
    border-radius: 5%;
  }
  


  .button{
    display: block;
    position: absolute;
    bottom:3%;
    left: 27%;
    width: 66%;
    height: 15%;
   background-color: bisque;
    border-radius: 3%;
    
  }

  .button_add_action{
    position:absolute;
    top:15%;
    right:30%;
    width: 120px;
    height: 60px;
    background-color: #efa9dd;
    border-radius: 10%;
    
  }

  form{
    position:absolute;
    left:30%;
    width: 80%;
    height: 80%;
    top:20%;
    
  }

  .time{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 20%;
    background-color: #b7f0d5;
    border-radius: 3%;
  }

  .next_action{
    width: 100%;
    height: 60%;
    background-color: rgb(241, 240, 153);
    position:absolute;
    top:30%;
  }